@import url('https://fonts.googleapis.com/css?family=Quicksand|Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rowdies&display=swap');

a { color : #ffffff;}
		body, h3, p {
			color: white;
			text-align:center;
			font-family: 'Source Sans Pro', sans-serif;
		}
                h1, h2 {
                        color: white;
			text-align:center;
			font-family: 'Rowdies', cursive;
                       }
	
		.page__hero--overlay {
			background-color:#44bbff;
			background-image: url(IMAGES/cauetburgerbg.png)
	
    		footer {
           		padding: 20px;
            		margin-top: 40px;
            		background-color:#FFFFFF;
			color: black;
		}
		.mycursor {
			cursor: url("https://cdn-icons-png.flaticon.com/512/1046/1046784.png"), pointer;
		}
		.opacity1 div img {
			opacity: 1;
			-webkit-transition: .1s ease-in-out;
			transition: .1s ease-in-out;
		}
		.opacity1 div:hover img {
			opacity: .3;
		}
		.shine div {
			position: relative;
		}
		.shine div::before {
			position: absolute;
			top: 0;
			left: -75%;
			z-index: 2;
			display: block;
			content: '';
			width: 50%;
			height: 100%;
			background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
			background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
			-webkit-transform: skewX(-25deg);
			transform: skewX(-25deg);
		}
		.shine div:hover::before {
			-webkit-animation: shine .75s;
			animation: shine .75s;
		}
		@-webkit-keyframes shine {
			100% {
				left: 125%;
			}
		}
		@keyframes shine {
			100% {
				left: 125%;
			}
		}
