@import url('https://fonts.googleapis.com/css?family=Quicksand|Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&family=Poppins&family=Rowdies&display=swap');
@import url('https://fonts.cdnfonts.com/css/product-sans');

		.footer {
			
			color:#000000;
		}
		a {
			color : #ffffff;
		}
		body {
			width:100%;
			background-color:#44bbff;
			background-image: url(IMAGES/cauetburgerbg.png);
		    background-attachment: fixed;
		}
		h3, p {
			color: white;

			font-family: 'Source Sans Pro', sans-serif;
		}
                h1, h2, h4, h5 {
                        color: white;
                        font-family: 'Oswald', sans-serif;
						text-shadow: 2px 2px 4px #000000;
	        }
		.page {
			margin-right: 11%;
			margin-left: 11%;
		}
		.navbar .navbar-expand-sm .navbar-light .bg-light {
			margin-top: 100px;
    			z-index: 0;
			position: absolute;
			background-color:#000000;
			color:#ffffff;
		}
    		footer {
           		padding: 20px;
			padding-top: 10px;
            		margin-top: 5px;
            		background-color:#343a40;
					color: white;
		}
		.footer {
			color: white;
		}
		.opacity1 div img {
			opacity: 1;
			-webkit-transition: .3s ease-in-out;
			transition: .3s ease-in-out;
		}
		.opacity1 div:hover img {
			opacity: .5;
		}
		.about {
  			text-align: justify;
			padding: 40px;
			padding-top: 10px;
			color: white;
		}
		.CBT {
		image-resolution: initial;
		font-family: 'Product Sans', sans-serif;
		color: white;
		}
		.head {
			background-color:#ffe600;
			color:#000000;
		}
		head {
			position: absolute;
			top: 30px;
			left: 30px;
			text-align: justify;
			padding: 45px;
			color: black;
		}
		img {
    			max-width: 100%;
    			height: auto;
		}
		iframe {
			max-width: 100%;
			max-height: 100%;
}
		small {
			color: white;
		}
		.footer-text {
			color: white;
		}
		.remerciements {
			margin-right: 6%;
			margin-left: 6%;
			text-alignn: justify;
			color: white;
		}
		.collage {
			color: white;
		}
		.collage-m {
			padding-left: 24%;
			padding-right: 36%;
		}
		.mini-affiches {
			margin-left: 1px;
			margin-right: 1px;
		}
		.affiches_maps {
			border-radius: 8px;
			border-color: white;
		}
		.hr-mini-city {
			background-color: white;
			height: 2px;
			border-radius: 5px;
			width: 10%;
			box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
		}
		.hr-a-propos {
			background-color: white;
			height: 2px;
			border-radius: 5px;
			width: 24%;
			box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
		}
		.hr-collage {
			background-color: white;
			height: 2px;
			border-radius: 5px;
			width: 24%;
			box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
		}
		.img-grid {
			margin-top: 15px;
		}
		.grid-title {
			padding-top: 7px;
			
		}
		.grid {
			width:335px;
			height:250px;
			float: left;
			border-radius: 10px;
			border: 1px solid #fff;
			margin: 8px auto;	
		}
		.grid-desc {
			color: white;
			margin: 3px;
		}
		.grid-small {
			color: white;
		}
		.grid-bigger {
			width:335px;
			height:295px;
			float: left;
			border-radius: 10px;
			border: 1px solid #fff;
			margin: 8px auto;
			text-shadow: 2px 2px 4px #000000;
			background-color: #c4d9e5;
		}
		.container {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
		}
		button {
			margin: 6px;
		}
		.tweet {
			border-radius: 15px;
		}
		ul, li {
			color:white;
		}
		.grid-social {
			border-radius: 15px;
			border-color: white;
		}
