@import url('https://fonts.googleapis.com/css?family=Quicksand|Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&family=Poppins&family=Rowdies&display=swap');

		a {
			color : #ffffff;
		}
		body {
			width:100%;
		}
		body, h3, p {
			color: white;
			text-align:center;
			font-family: 'Source Sans Pro', sans-serif;
		}
                h1, h2, h4 {
                        color: white;
                        text-align: center;
                        font-family: 'Oswald', sans-serif;
	        }
		.page__hero--overlay {
			background-color:#44bbff;
			background-image: url(IMAGES/cauetburgerbg.png)
		}
		.navbar navbar-expand-sm navbar-light bg-light {
			margin-top: 100px;
    			z-index: 0;
			position: absolute;
		}
    		footer {
           		padding: 20px;
			padding-top: 10px;
            		margin-top: 5px;
            		background-color:#000000;
			color: white;
		}
		.opacity1 div img {
			opacity: 1;
			-webkit-transition: .3s ease-in-out;
			transition: .3s ease-in-out;
		}
		.opacity1 div:hover img {
			opacity: .5;
		}
		.about {
  		text-align: justify;
		padding: 35px;
		}
		.nav-link active {
		padding: 9px;
		}
		.CBT {
		image-resolution: initial;
		}
		.head {
			background-color:#ffe600;
			color:#000000;
		}
		head {
			position: sticky;
			top: 30px;
			left: 30px;
		}
