@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

body {
    background-color: rgb(49, 49, 49);
    color: white;
    font-family: 'Ubuntu', sans-serif;
}
.convert {
    border-radius: 10px;
    border: 1px solid white;
    background-color: rgb(49, 49, 49);
    color: white;
    transition: 0.3s;
    padding: 10px;
    height: 100%;
    width: 60%;
    font-size: 55px;
    box-shadow: 1px 1px 5px 1px #000000;
}
.convert:hover {
    background-color: white;
    color: black;
}
table {
    border: 1px solid white;
    font-size: 18px;
    border-radius: 15px;
}
td {
    width: 470px;
    padding: 10px;
}
select {
    border-radius: 10px;
    border: 1px solid white;
    background-color: rgb(49, 49, 49);
    color:white;
    transition: 0.3s;
    padding: 10px;
    width: 60%;
    text-align: center;
    font-size: 18px;
    box-shadow: 1px 1px 5px 1px #000000;
}
select:hover {
    background-color: white;
    color:black;
}
input {
    border-radius: 8px;
    border: 1px solid white;
    background-color: rgb(49, 49, 49);
    padding-top: 4px;
    padding-bottom: 4px;
    color: white;
    box-shadow: 1px 1px 5px 1px #000000;
}
#bien {
    font-size: 65px;
}
img {
    max-width: 21%;
    max-height: 21%;
}